.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--primary);
}
.header_button{
  width: 4rem;
  height: 4rem;
}
