.filer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
}
.filter_btns {
  display: flex;
  gap: 1em;
}
.input_container {
  flex-grow: 1;
}
